<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>u_signup</servlet-name>
        <servlet-class>u_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>d_signup</servlet-name>
        <servlet-class>d_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p_signup</servlet-name>
        <servlet-class>p_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insert</servlet-name>
        <servlet-class>insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a_login</servlet-name>
        <servlet-class>a_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>u_login</servlet-name>
        <servlet-class>u_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>d_login</servlet-name>
        <servlet-class>d_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p_login</servlet-name>
        <servlet-class>p_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_view</servlet-name>
        <servlet-class>user_view</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>show_doctor</servlet-name>
        <servlet-class>show_doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appoint_req</servlet-name>
        <servlet-class>appoint_req</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patient_details</servlet-name>
        <servlet-class>patient_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>status</servlet-name>
        <servlet-class>status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmappo</servlet-name>
        <servlet-class>confirmappo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appo_details</servlet-name>
        <servlet-class>appo_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appo_date</servlet-name>
        <servlet-class>appo_date</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctor_payment</servlet-name>
        <servlet-class>doctor_payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment_amount</servlet-name>
        <servlet-class>payment_amount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment_price</servlet-name>
        <servlet-class>payment_price</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dpayment_details</servlet-name>
        <servlet-class>dpayment_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_feedback</servlet-name>
        <servlet-class>user_feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctor_feedback</servlet-name>
        <servlet-class>doctor_feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctor_feed</servlet-name>
        <servlet-class>doctor_feed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patient_feed</servlet-name>
        <servlet-class>patient_feed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctor_req</servlet-name>
        <servlet-class>doctor_req</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doc_confirm</servlet-name>
        <servlet-class>doc_confirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>security_check</servlet-name>
        <servlet-class>security_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>u_resetpass</servlet-name>
        <servlet-class>u_resetpass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>u_updatepass</servlet-name>
        <servlet-class>u_updatepass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>d_security_check</servlet-name>
        <servlet-class>d_security_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>d_resetpass</servlet-name>
        <servlet-class>d_resetpass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>d_updatepass</servlet-name>
        <servlet-class>d_updatepass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phar_signup</servlet-name>
        <servlet-class>phar_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phar_signupbean</servlet-name>
        <servlet-class>HealthPackage.phar_signupbean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medi_view</servlet-name>
        <servlet-class>medi_view</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medi_upload</servlet-name>
        <servlet-class>medi_upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medi_update</servlet-name>
        <servlet-class>medi_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medicine_update</servlet-name>
        <servlet-class>medicine_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medi_uptodate</servlet-name>
        <servlet-class>medi_uptodate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medi_order</servlet-name>
        <servlet-class>medi_order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medi_req</servlet-name>
        <servlet-class>medi_req</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medi_delivery</servlet-name>
        <servlet-class>medi_delivery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medi_dispatch</servlet-name>
        <servlet-class>medi_dispatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phar_feedback</servlet-name>
        <servlet-class>phar_feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pharmacist_feed</servlet-name>
        <servlet-class>pharmacist_feed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>schedule_date</servlet-name>
        <servlet-class>schedule_date</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deli_status</servlet-name>
        <servlet-class>deli_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pharmacy_payment</servlet-name>
        <servlet-class>pharmacy_payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ppay_amount</servlet-name>
        <servlet-class>ppay_amount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ppayment_price</servlet-name>
        <servlet-class>ppayment_price</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ppayment_details</servlet-name>
        <servlet-class>ppayment_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a_logout</servlet-name>
        <servlet-class>a_logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>d_logout</servlet-name>
        <servlet-class>d_logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p_logout</servlet-name>
        <servlet-class>p_logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>u_signup</servlet-name>
        <url-pattern>/u_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>d_signup</servlet-name>
        <url-pattern>/d_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p_signup</servlet-name>
        <url-pattern>/p_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insert</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a_login</servlet-name>
        <url-pattern>/a_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>u_login</servlet-name>
        <url-pattern>/u_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>d_login</servlet-name>
        <url-pattern>/d_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p_login</servlet-name>
        <url-pattern>/p_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_view</servlet-name>
        <url-pattern>/user_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show_doctor</servlet-name>
        <url-pattern>/show_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appoint_req</servlet-name>
        <url-pattern>/appoint_req</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patient_details</servlet-name>
        <url-pattern>/patient_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>status</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmappo</servlet-name>
        <url-pattern>/confirmappo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appo_details</servlet-name>
        <url-pattern>/appo_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appo_date</servlet-name>
        <url-pattern>/appo_date</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctor_payment</servlet-name>
        <url-pattern>/doctor_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment_amount</servlet-name>
        <url-pattern>/payment_amount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment_price</servlet-name>
        <url-pattern>/payment_price</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dpayment_details</servlet-name>
        <url-pattern>/dpayment_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_feedback</servlet-name>
        <url-pattern>/user_feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctor_feedback</servlet-name>
        <url-pattern>/doctor_feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctor_feed</servlet-name>
        <url-pattern>/doctor_feed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patient_feed</servlet-name>
        <url-pattern>/patient_feed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctor_req</servlet-name>
        <url-pattern>/doctor_req</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doc_confirm</servlet-name>
        <url-pattern>/doc_confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>security_check</servlet-name>
        <url-pattern>/security_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>u_resetpass</servlet-name>
        <url-pattern>/u_resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>u_updatepass</servlet-name>
        <url-pattern>/u_updatepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>d_security_check</servlet-name>
        <url-pattern>/d_security_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>d_resetpass</servlet-name>
        <url-pattern>/d_resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>d_updatepass</servlet-name>
        <url-pattern>/d_updatepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phar_signup</servlet-name>
        <url-pattern>/phar_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phar_signupbean</servlet-name>
        <url-pattern>/phar_signupbean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>medi_view</servlet-name>
        <url-pattern>/medi_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>medi_upload</servlet-name>
        <url-pattern>/medi_upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>medi_update</servlet-name>
        <url-pattern>/medi_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>medicine_update</servlet-name>
        <url-pattern>/medicine_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>medi_uptodate</servlet-name>
        <url-pattern>/medi_uptodate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>medi_order</servlet-name>
        <url-pattern>/medi_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>medi_req</servlet-name>
        <url-pattern>/medi_req</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>medi_delivery</servlet-name>
        <url-pattern>/medi_delivery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>medi_dispatch</servlet-name>
        <url-pattern>/medi_dispatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phar_feedback</servlet-name>
        <url-pattern>/phar_feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pharmacist_feed</servlet-name>
        <url-pattern>/pharmacist_feed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>schedule_date</servlet-name>
        <url-pattern>/schedule_date</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deli_status</servlet-name>
        <url-pattern>/deli_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pharmacy_payment</servlet-name>
        <url-pattern>/pharmacy_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ppay_amount</servlet-name>
        <url-pattern>/ppay_amount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ppayment_price</servlet-name>
        <url-pattern>/ppayment_price</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ppayment_details</servlet-name>
        <url-pattern>/ppayment_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a_logout</servlet-name>
        <url-pattern>/a_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>d_logout</servlet-name>
        <url-pattern>/d_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p_logout</servlet-name>
        <url-pattern>/p_logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
